{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Список задач</h5>
                <div class="card-body">
                    <p class="card-text">Вы можете смотреть список задач, отмечать выполненные, создавать новые</p>
                    <a href="{% url 'tasklist' %}" class="card-link">Список задач</a>
                    <a href="{% url 'taskcreate' %}" class="card-link">Создать задачу</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Статьи</h5>
                <div class="card-body">
                    <p class="card-text">Вы можете читать интересные статьи и создавать новые</p>
                    <a href="{% url 'postlist' %}" class="card-link">Статьи</a>
                    <a href="{% url 'postcreate' %}" class="card-link">Создать статью</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}